/* about infideck section */
.about-infideck{
    /* background-color: rgb(214, 129, 129); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.infideck-about {
    font-family: 'Manrope', sans-serif;
    font-size: clamp(16px, 3vw, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0px 35px 0px;
    color: #303032;
}
.infideck-work{
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(rgb(55, 80, 131) 50%, #FF7732); */
    /* background-color: #6a6a6a; */
    background: #FFF6F2;
    width: 100%;
    padding: 25px ;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 28px;
     background-image: url(../images/evolveline.png);
  
}
.infi-work-title{
    color: #FF7732;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: clamp(28px, 5vw, 36px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.infititle{
    color: #256AB3;
}

.infi-work-des{
    color: #FF7732;
    font-family: 'Manrope', sans-serif;
    font-size: clamp(16px, 5vw, 22px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
}
.infides{
    color: #256AB3;
}
.infi-work-learnmore{
    color: #FF7732;

    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: -0.14px;

    display: flex;
    gap: 6px;
    
}
.infilearnmore{
    color: #256AB3;
}

@media only screen and (min-width: 1200px) and (max-width: 12000px) {
    .about-infideck{
        /* background-color: rgb(214, 129, 129); */
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 1200px;
      
    
     
     
    }
}