.home-page {
    padding: 8px 144px;
}
.home-intro-section {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0px;
}
.intro-content-space {
    display: flex;
    /* background-color: rgb(109, 109, 109); */
    width: 100%;
    height: 100%;
}

.intro-content-texts {
    width: 50%;
    /* background-color: rgb(97, 97, 97); */

    color: #303032;

    /* font-family: Manrope; */
    font-size: clamp(64px, 5vw, 94px);
    font-style: normal;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}
.intro-texts {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.intro-content-image {
    width: 50%;
}
.intro-content-slogans {
    display: flex;
    flex-direction: row;
    gap: 12px;

    color: #7A7B7F;

    /* font-family: Manrope; */
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    padding: 22px 0px;
}
.intro-content-learnmore {
    display: flex;
    flex-direction: row;

    color: #FF7732;
    /* font-family: Manrope; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.14px;
    gap: 12px;
    padding: 22px 0px;
}