.navabar {
    background-color: rgb(255, 255, 255);
    padding: 8px 144px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.nav-infideck-btns {
    display: flex;
    gap: 92px;
}

.nav-lets-talk {
    background: #FF7732;
    padding: 6px 24px;

    color: #FFF;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.14px;
}

.nav-btn {
    color: #303032;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.14px;
}